@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar {
    background-color: #1992d4;
    grid-row: 1 / 4;
}

.header,
.nav {
    background-color: #ffffff;
    grid-column: 2 / span 1;
}

.main-content {
    background-color: #e2e8f0;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.card,
.announcements-section,
.trending-section {
    background-color: #ffffff;
}

.cards-section {
    display: grid;
    gap: 1rem;
}


.svg-icon {
    height: 2rem;
    width: 2rem;
}

/*
.svg-white {
    filter: invert(100%) sepia(5%) saturate(7479%) hue-rotate(204deg) brightness(113%) contrast(103%);
} */

/* Profile Pictures (pfp) */
.pfp-small,
.pfp-big {
    border-radius: 50%;
}

.pfp-small {
    height: 5rem;
    width: 5rem;
}

.pfp-big {
    height: 7rem;
    width: 7rem; 
}