@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    /* Slate */
    --main-color: #1D3557;
    --darker-main-color: hsl(215, 50%, 13%);
    --secondary-color: #ED3946;
}

body,
.container {
    height: 100vh;
    width: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

/* Header, Nav */
.head-nav-col-span {
    grid-column: 2 / span 2;

    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: center;
    padding: 1rem 3rem;
}

.left,
.right {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.right {
    justify-content: flex-end;
}

.search-bar {
    height: 1rem;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    flex: 1;
}

.search-bar:focus {
    outline: none;
}

button {
    height: 2.5rem;
    width: 6rem;
    font-size: 1rem;
    border: none;
    border-radius: 2rem;
}

/* Sidebar */
.sidebar {
    grid-row: 1 / span 3;
    padding: 1rem;
}

.side-item,
a {
    display: grid;
    grid-auto-flow: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.75rem;
}

a {
    color: #ffffff;
    text-decoration: none;
    gap: 1.5rem;
}

a:hover {
    padding: 0.1rem;
    border-radius: 0.1rem;
}

.top,
.bottom {
    display: grid;
    gap: 0.75rem;
    padding: 3rem 0 0 0.75rem; /* Padding Top/Left */
}

/* Main Content */
.main-content {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    padding: 1.5rem;
    gap: 1.5rem;
}

/* Section Areas */
.project-area {
    grid-row: 1 / 3;
}

.trending-area {
    grid-column: 2 / 3;
}

/* Inside Section Areas */
.section-title {
    padding: 0.75rem 0;
}

.card,
.announcement-box,
.trending-box {
    background-color: #ffffff;
    border-radius: 0.75rem;
    padding: 2rem;
}

.announcement-box,
.trending-box {
    height: 88.8%;
}

/* Card */
.card-box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    height: 94.6%;
    gap: 2rem;
}

.card {
    border-left: 0.75rem solid var(--secondary-color);
    display: grid;
    grid-template-columns: 1fr;
}

/* Star, Eye, Fork | Upon Hover -> Change to Fill Icons(?) */
.card-icons {
    display: grid;
    grid-auto-flow: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 1.5rem;
}

/* Announcement */
hr {
    background-color: #d2d2d2;
    height: 1px;
    border: none;
    margin: 1.5rem 0;
}

/* Trending */
.trending-box,
.trending {
    display: grid;
}

.trending {
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
}

.pfp-big {
    grid-row: 1 / 3;
    display: grid;
    align-items: center;
}

.trending-text {
    grid-column: 2 / 3;
}

/* SVG icons */
.svg-icon {
    height: 1.5rem;
    width: 1.5rem;
}

.svg-logo-icon {
    height: 3rem;
    width: 3rem;
}

.svg-white {
    filter: invert(100%) sepia(5%) saturate(7479%) hue-rotate(204deg) brightness(113%) contrast(103%);
}

/* SVG gray color */
.star,
.eye,
.fork {
    filter: invert(17%) sepia(1%) saturate(1008%) hue-rotate(359deg) brightness(93%) contrast(88%);
}

/* Pictures */
.pfp-small,
.pfp-big {
    border-radius: 50%;
}

.pfp-small {
    height: 3rem;
    width: 3rem;
}

.pfp-big {
    height: 4rem;
    width: 4rem;
}

/* Grouped Colors */
button,
.sidebar {
    background-color: var(--main-color);
    color: #ffffff;
}

.search-bar,
.main-content {
    background-color: #e2e8f0;
}

.card-text,
.announcement-text,
.trending-text {
    color: #636363;
}

/* Bold Text */
a,
.bold-text,
.section-title,
.card-title,
.announcement-title {
    font-weight: bold;
}

button,
.trending-handle {
    font-weight: 500;
}

/* Font Sizing */
.greeting > .name,
.logo {
    font-size: 1.6rem;
}

a,
.section-title {
    font-size: 1.3rem;
}

.card-title,
.right > .name {
    font-size: 1.2rem;
}

.announcement-text,
.trending-handle,
.trending-text {
    font-size: 0.9rem;
}

/* Spacing */
.hi,
.card-title,
.announcement-title,
.trending-handle {
    padding-bottom: 0.3rem;
}

/* Box Shadow */
.nav {
    position: relative;
}

.nav,
.card,
.announcement-box,
.trending-box {
    box-shadow: 3px 5px 4px #cdd2d9;
    z-index: 1;
}

/* Pointer Cursor */
button,
.bell,
.star,
.eye,
.fork {
    cursor: pointer;
}

/* Hover */
a:hover,
button:hover {
    background-color: var(--darker-main-color);
}

.card:hover {
    transform: scale(1.05);
}